.conviteEspecial{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #221C35;
    color: white;
    padding: 0px;
}

#container{
  margin-bottom: 10px;
  height: 0px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

#botao{
background-color:#FC6872;
    border: 100px;
    padding: 05px 20px;
    border-radius: 20px;
    margin:5px 15px;
    color: white;
}









